body {
    background-color: #efeee7;
    font-style: Georgia, "Times New Roman", Times, serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
}

h1 {
    margin-bottom: 15px;
    color: #eee;
    font-size: 28px;
    text-align: center;
    padding: 15px;
}

h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 24px; 
}

#main-bio {
    float: left;
    width: 70%; 
}

#bio-image {
    float: left;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
}

#contact-info {
    float: left;
    line-height: 1.5;
}

p {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

ul {
    text-align: center;
    font-size: 35px;
    border-style: solid;
    border-width: 5px;
    list-style-position: inside;
}

a.link {
    color: #d21034;
}